<div class="container">
    <form class="form" data-url="{{urls.search}}" data-quick-search-form>
        <fieldset class="form-fieldset">
            <div class="form-field">
                {{#if semantic_search_enabled}}
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label_semantic"}}</label>
                {{else}}
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                {{/if}}
                <input class="form-input"
                       data-search-quick
                       name="{{name}}"
                       id="{{name}}"
                       data-error-message="{{lang 'search.error.empty_field'}}"
                       {{#if semantic_search_enabled}}
                       placeholder="{{lang 'search.quick_search.input_placeholder_semantic'}}"
                       {{else}}
                       placeholder="{{lang 'search.quick_search.input_placeholder'}}"
                       {{/if}}
                       autocomplete="off"
                >
            </div>
        </fieldset>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>
    <p role="status"
       aria-live="polite"
       class="aria-description--hidden"
       data-search-aria-message-predefined-text="{{{lang 'search.results.quick_count_live'}}}"
    ></p>
</div>
